#--------------------------- MMS RFID Module Configuration ---------------------------#

#--------------------------- RFID Reader 1 ---------------------------#
[mms rfid mfrc522_0]
cs_pin:          vivid:PB14           # Chip select pin
spi_bus:         spi2_PB2_PB11_PB10   # SPI bus configuration
slots:           0,1                  # Associated slot numbers (SLOT0, SLOT1)
rfid_data_file:  rfid/rfid_write.json # RFID data file

#--------------------------- RFID Reader 2 ---------------------------#
[mms rfid mfrc522_1]
cs_pin:          vivid:PA8            # Chip select pin
spi_bus:         spi2_PB2_PB11_PB10   # SPI bus configuration
slots:           2,3                  # Associated slot numbers (SLOT2, SLOT3)
rfid_data_file:  rfid/rfid_write.json # RFID data file
