#--------------------------- MMS LED Module Configuration ---------------------------#
[mms led]
custom_bit_max_time: 0.000030 # The custom BIT_MAX_TIME for neopixel

#--------------------------- NeoPixel Strip 1 ---------------------------#
[neopixel vivid_rgb_1]
pin:          vivid:PC6   # Data pin
color_order:  GRB         # Color order
initial_RED:  0.01        # Initial red brightness
chain_count:  14          # Number of LEDs in chain

#--------------------------- NeoPixel Strip 2 ---------------------------#
[neopixel vivid_rgb_2]
pin:          vivid:PC7   # Data pin
color_order:  GRB         # Color order
initial_BLUE: 0.01        # Initial blue brightness
chain_count:  14          # Number of LEDs in chain
