#--------------------------- MMS Stepper Module Configuration ---------------------------#

#--------------------------- Selector Stepper ---------------------------#
[manual_stepper selector_stepper]
step_pin:          vivid:PD3      # Step pin
dir_pin:           vivid:PD2      # Direction pin
enable_pin:        !vivid:PB4     # Enable pin (active low)
microsteps:        16             # Microsteps setting
# rotation_distance: 360            # Rotation distance (degrees), full_steps_per_rotation=200
rotation_distance: 400            # Rotation distance (degrees), full_steps_per_rotation=200
gear_ratio:        2.5:1          # Gear ratio (effective rotation_distance: 400/2.5=160)
velocity:          100            # Velocity (mm/s)
accel:             100            # Acceleration (mm/s²)

#--------------------------- Selector TMC2209 Driver ---------------------------#
[tmc2209 manual_stepper selector_stepper]
uart_pin:          vivid:PB3      # UART communication pin
run_current:       1.0            # Run current (A)
stealthchop_threshold: 0          # 0=spreadCycle, 999999=stealthChop mode

#--------------------------- Drive Stepper ---------------------------#
[manual_stepper drive_stepper]
step_pin:          vivid:PB6      # Step pin
dir_pin:           vivid:PB5      # Direction pin
enable_pin:        !vivid:PB8     # Enable pin (active low)
microsteps:        16             # Microsteps setting
rotation_distance: 360            # Rotation distance (degrees)
gear_ratio:        43:1           # Gear ratio (effective rotation_distance: 360/43=8.372)
# rotation_distance: 400            # Rotation distance (degrees), full_steps_per_rotation=200
# gear_ratio:        47.78:1           # Gear ratio (effective rotation_distance: 400/47.78=8.372)
velocity:          100            # Velocity (mm/s)
accel:             100            # Acceleration (mm/s²)

#--------------------------- Drive TMC2209 Driver ---------------------------#
[tmc2209 manual_stepper drive_stepper]
uart_pin:          vivid:PB7      # UART communication pin
run_current:       0.7            # Run current (A)
stealthchop_threshold: 0          # 0=spreadCycle, 999999=stealthChop mode
